.item {
  padding: 20px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img {
  width: 610px;
}

.item img {
  width: 100%;
  object-fit: cover;
  height: 10rem;
}

.content {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}

.content h2 {
  margin: 0.5rem 0;
}

.summary {
  text-align: left;
}

.summary h4 {
  margin-top: 1rem;
  color: #666666;
}

.actions {
  width: 100%;
  display: flex;
  text-align: center;
  gap: 1rem;
}

.actions button {
  width: 50%;
  background-color: rgba(200, 0, 0, 1);
  padding: 10px 5px;
  font-size: 1rem;
}

.actions button:hover {
  background-color: rgba(255, 0, 0, 0.781);
}

.actions a {
  font-size: 1rem;
  display: block;
  width: 50%;
}
