.form {
  /* border: 2px solid black; */
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.form button {
  /* font: inherit; */
  cursor: pointer;
  background-color: var(--clr-primary-1);
  border: 1px solid var(--clr-primary-1);
  color: white;
  padding: 5px 8px;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: var(--clr-primary-2);
  border-color: var(--clr-primary-2);
}
