.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  position: fixed;
  top: 0;
  left: 0;
  height: 4.5rem;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  z-index: 10;
}

.btn-login {
  color: var(--clr-grey-1);
  background: transparent;
  border: 2px solid var(--clr-grey-1);
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.btn-login:hover {
  color: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
}
